body,
h1,
h3,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header {
    position: relative;
    padding-bottom: 20px;
}

.header-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bloom_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8% 0 8%;
}

.bloom_nav h1 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 63px;
    text-align: left;
    color: #FFF;
}

.bloom_info {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 8% 8% 0 8%;
}

.bloom_nav--section,
.bloom_nav--content {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
}

.bloom_nav--section img{
    width: 20px;
    height: 20px;
}

.bloom_nav--content :first-child {
    color: #F34F1D;
    border-bottom: 2px solid #F34F1D;
    padding-bottom: 5px;
}

.bloom_intro {
    text-align: left;
    width: 50%;
}

.bloom_intro h3 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    color: #252525;
}

.bloom_intro h3 span {
    color: #F34F1D;
}

.bloom_intro p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.bloom_info button {
    width: 200px;
    height: 40px;
    padding: 5px;
    border-radius: 12px;
    background-color: #141414;
    color: #FFF;
}

.bloom_progress {
    display: flex;
    gap: 30px;
    text-align: center;
}

.bloom_progress h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 69px;
}

.menu-icon {
    width: 30px;
    height: 25px;
    display: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.bar {
    background-color: #333;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1 {
    width: 20px;
}

.bar2 {
    width: 15px;
}

.menu-icon.open .bar:nth-child(1) {
    width: 20px;
    transform: rotate(-45deg) translate(-3px, 3px);
}

.menu-icon.open .bar:nth-child(2) {
    width: 20px;
    transform: rotate(45deg) translate(-4px, -4px);
}

@media screen and (max-width: 900px) {

    .bloom_nav--content {
        display: none;
        position: absolute;
        right: 5px;
        top: 50px;
        text-align: left;
        background: #ededed;
        box-shadow: 0px -2px 4px 0px #C8C8C83D;
        width: 100px;
        padding: 20px;
    }

    .bloom_nav--content :first-child {
        color: #333;
        border-bottom: none;
        padding-bottom: 0;
    }

    .bloom_nav--content li {
        padding: 5px;
    }

    .menu-icon {
        display: block;
    }

    .show_nav {
        display: block;
    }

    .bloom_intro {
        width: 60%;
    }

    .bloom_intro h3 {
        font-size: 40px;
        font-weight: 500;
        line-height: 50px;
    }

    .bloom_intro p {
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }
}

@media screen and (max-width: 700px) {

    .bloom_intro {
        width: 80%;
    }

    .bloom_intro h3 {
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }

    .bloom_intro p {
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }
}

@media screen and (max-width: 500px) {

    .bloom_progress h1{
        font-size: 25px;
        font-weight: 400;
        line-height: 30px;
    }
}

@media screen and (max-width: 450px) {

    .bloom_intro h3 {
        font-size: 25px;
        font-weight: 400;
        line-height: 20px;
    }

    .bloom_intro p {
        font-size: 12px;
        font-weight: 200;
        line-height: 15px;
        margin-top: 10px;
    }

    .bloom_progress h1{
        font-size: 20px;
        font-weight: 200;
        line-height: 20px;
    }

    .bloom_progress p{
        font-size: 12px;
        line-height: 10px;
    }
}


/* the shop section */

.bloom-shop-section {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    padding: 0 8%;
}

.bloom-shop-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bloom-shop-heading h1 {
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
}

.bloom-shop-heading p {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #F34F1D;
    word-spacing: 5px;
}

.bloom-shop-section-img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.bloom-shop-collection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bloom-shop-collection div {
    background-color: #ededed;
    width: 50%;
}

.bloom-shop-collection span {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 1px solid #FFF;
    padding: 10px 0;
    width: 100%;
}

.bloom-shop-collection span  img{
    width: 20px;
    height: 20px;
}

.bloom-shop-collection article p, b {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
}

@media screen and (max-width: 800px) {

    .bloom-shop-collection :nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 600px) {

    .bloom-shop-collection :nth-child(3) {
        display: none;
    }

    .bloom-shop-collection div {
        width: 80%;
    }
}

@media screen and (max-width: 510px) {

    .bloom-shop-heading h1 {
        font-size: 15px;
        font-weight: 200;
        line-height: 10px;
    }

    .bloom-shop-heading p {
        word-spacing: 2px;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {

    .bloom-shop-heading,
    .bloom-shop-collection {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .bloom-shop-collection div {
        width: 100%;
    }
}