html {
    font-size: 50%;
}

body{
    background-color: #FAFAFA;
}

body,
h1,
h3,
p {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

header {
    position: relative;
    padding-bottom: 20px;
}

.header-img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bloom_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8% 0 8%;
}

.bloom_nav h1 {
    font-family: 'Lobster Two', sans-serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 7.875rem;
    text-align: left;
    color: #FFF;
}

.bloom_info {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin: 8% 8% 0 8%;
}

.bloom_nav--section,
.bloom_nav--content {
    display: flex;
    gap: 4rem;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    color: #606060;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.875rem;
}

.bloom_nav--section img{
    width: 3rem;
    height: 3rem;
}

.bloom_nav--content :first-child {
    color: #F34F1D;
    border-bottom: 2px solid #F34F1D;
    padding-bottom: 5px;
}

.bloom_intro {
    text-align: left;
    width: 50%;
}

.bloom_intro h3 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 600;
    line-height: 7.5rem;
    color: #252525;
}

.bloom_intro h3 span {
    color: #F34F1D;
}

.bloom_intro p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 2.625rem;
}

.bloom_info button {
    width: 150px;
    height: 40px;
    padding: 5px;
    border-radius: 12px;
    background-color: #141414;
    color: #FFF;
}

.bloom_progress {
    display: flex;
    gap: 30px;
    text-align: center;
    color: #252525;
}

.bloom_progress h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.4375rem;
    font-weight: 700;
    line-height: 6.78125rem;
}

.bloom_progress p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    line-height: 3.625rem;
}

.menu-icon {
    width: 30px;
    height: 25px;
    display: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.bar {
    background-color: #333;
    height: 3px;
    margin: 1rem 0;
    transition: 0.4s;
}

.bar1 {
    width: 3rem;
}

.bar2 {
    width: 2rem;
}

.menu-icon.open .bar:nth-child(1) {
    width: 3rem;
    transform: rotate(-45deg) translate(-2px, 2px);
}

.menu-icon.open .bar:nth-child(2) {
    width: 3rem;
    transform: rotate(45deg) translate(-3px, -3px);
}

@media screen and (max-width: 900px) {

    html {
        font-size: 30%;
    }

    .bloom_nav--content {
        display: none;
        position: absolute;
        right: 5px;
        top: 50px;
        text-align: left;
        background: #ededed;
        box-shadow: 0px -2px 4px 0px #C8C8C83D;
        width: 100px;
        padding: 20px;
    }

    .bloom_nav--content :first-child {
        color: #606060;
        border-bottom: none;
        padding-bottom: 0;
    }

    .bloom_nav--content li {
        padding: 5px;
    }

    .menu-icon {
        display: block;
    }

    .show_nav {
        display: block;
    }

    .bloom_intro {
        width: 60%;
    }
}


/* the shop section */

.bloom-shop-section {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 0 8%;
}

.bloom-shop-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bloom-shop-heading h1 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.5rem;
}

.bloom-shop-heading p {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: #F34F1D;
    word-spacing: 1rem;
}

.bloom-shop-section-img {
    width: 15rem;
    height: 15rem;
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.bloom-shop-collection {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.bloom-shop-collection div {
    background-color: #FFF;
    width: 50%;
}

.bloom-shop-collection span {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-top: 2px solid #F0F0F0;
    padding: 10px 0;
    width: 100%;
}

.bloom-shop-collection span  img{
    width: 2.5rem;
    height: 2.5rem;
}

.bloom-shop-collection article p, b {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 5px;
    font-size: 2.5rem;
}

@media screen and (max-width: 600px) {

    .bloom-shop-collection :nth-child(4) {
        display: none;
    }
}

@media screen and (max-width: 400px) {

    .bloom-shop-collection :nth-child(3) {
        display: none;
    }

    .bloom-shop-heading {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}